
body {
    margin: 0;
    background-color: lightgrey;
    font-family: verdana;
}


header {
    height: auto;
    background-color: black;
}

#logo img {
    background-size: cover;
    width: 95px;
    height: 30px;
    margin: 15px
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#cursorsContainer {
    height: 350px;
    flex-grow: 1;
    font-size: 10px;
    padding: 5px
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px

}

.slidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slidecontainer input {
    width: 100px;

}

.slidecontainer >:first-child {
    width: 65px;
}

#doughnutContainer {
    flex-grow: 2;
}

/* pizzas container */
#pizzaGrid {
    width: 350px;
    height: auto;
}

#graphHeader {
    display: flex;
    align-items: baseline;
    padding: 10px;
}

#graphHeader input {
    width: 115px;
    margin: 5px 5px 0px 5px;
}

#inputContainer {
    width: 50%;
}

#result {
    width: 50%;    
}


/* pizzes thumbnails */
#pizzasDisplay img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#pizzasDisplay {
    flex-wrap: wrap;
}

#cursorsContainer,
#doughnutContainer,
#pizzaGrid {
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#whiteBar {
    height: 50px;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

